body {
    background: rgb(237, 233, 252);
  }
  
  p {
    background-color: rgb(237, 236, 247);
    color: rgb(72, 6, 138);
    font-size: 18px;
    font-family: verdana;
  }

  h1 {
    color: rgb(63, 46, 87);
    font-size: 36px;
    font-family: verdana;
  }

  
nav {
    background-color: rgb(63, 46, 87);
}

  .navbar {
    margin-right: 0px;
    margin-left: 0px;
    padding: 20px;
 
  }
  
  .navbar li {
    display: d-block;
    padding: 5px;
    margin-right: 0px;
    margin-left: 0px;
    cursor: pointer;
    
  }  
  
  .navbar-brand {
    color: white;
    font-family: verdana;
    font-size: 25px;
    
  }

  .nav-item {
    font-family: verdana;
    font-size: 20px;
  }

  @media (max-width: 500px) {
    .navbar li {
      padding: 10px;
    }
    .box {
      margin-right: 22px;
      margin-left: 22px;
    }
    .navbar ul {
      visibility: hidden;
    }
    #nav-select {
      visibility: visible;
    }
  }
  
  .col-1 {width: 8%;}
  .col-2 {width: 17%;}
  .col-3 {width: 24%;}
  .col-4 {width: 32%;}
  .col-5 {width: 40%;}
  .col-6 {width: 50%;}
  .col-7 {width: 60%;}
  .col-8 {width: 65%;}
  .col-9 {width: 75%;}
  .col-10 {width: 82%;}
  .col-11 {width: 92%;}
  .col-12 {width: 100%;}
  
  @media only screen and (max-width: 768px) {

      [class*="col-"] {
          width: 100%;
      }
  }